[Unit]
Description=Whoever installs this will never walk in the darkness
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=stagecast
ExecStart=
